@font-face {
  font-family: "main";
  src: url("../assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "main-black";
  src: url("../assets/fonts/Lato-Black.ttf");
}

body {
  font-family: 'main';
}

body * {
  transition: all 0.3s;
  box-sizing: border-box;
}